.bar-Verticale{
  background-color: black;
  width: 98px;
  height: 718px;
  position: absolute;
}
.bars-vs{
  display: flex;
  flex-direction: column;
  padding: 117px 9px;
  list-style-type: none;
}

.bar-ver {
  padding: 17px 10px}
a{
  color: white;
  text-decoration: none;
}
p{
  color: white;
  transform: rotate(271deg);
  padding: -97px;
  margin: -46px 0;
}
